<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>loginSystem</display-name>
  <welcome-file-list>
    <welcome-file>CustomerLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>project.com.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdLoginController</display-name>
    <servlet-name>AdLoginController</servlet-name>
    <servlet-class>project.com.AdLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLoginController</servlet-name>
    <url-pattern>/adlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>project.com.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBusesController</display-name>
    <servlet-name>SearchBusesController</servlet-name>
    <servlet-class>project.com.SearchBusesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBusesController</servlet-name>
    <url-pattern>/SearchBuses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookNowController</display-name>
    <servlet-name>BookNowController</servlet-name>
    <servlet-class>project.com.BookNowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookNowController</servlet-name>
    <url-pattern>/booknowcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookNowNextController</display-name>
    <servlet-name>BookNowNextController</servlet-name>
    <servlet-class>project.com.BookNowNextController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookNowNextController</servlet-name>
    <url-pattern>/booknownextcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>project.com.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/paymentcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketStatusController</display-name>
    <servlet-name>TicketStatusController</servlet-name>
    <servlet-class>project.com.TicketStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketStatusController</servlet-name>
    <url-pattern>/TicketStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketController</display-name>
    <servlet-name>CancelTicketController</servlet-name>
    <servlet-class>project.com.CancelTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketController</servlet-name>
    <url-pattern>/cancelticketcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletController</display-name>
    <servlet-name>LogoutServletController</servlet-name>
    <servlet-class>project.com.LogoutServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletController</servlet-name>
    <url-pattern>/LogoutServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>project.com.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusRegistrationController</display-name>
    <servlet-name>BusRegistrationController</servlet-name>
    <servlet-class>project.com.BusRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusRegistrationController</servlet-name>
    <url-pattern>/busregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisterBus</display-name>
    <servlet-name>ShowRegisterBus</servlet-name>
    <servlet-class>project.com.ShowRegisterBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisterBus</servlet-name>
    <url-pattern>/showregisterbus</url-pattern>
  </servlet-mapping>
</web-app>