 
 #myHeader{
    height:40px;
	width:100%;
	color:DodgerBlue;
	margin:0;
	background-color: SkyBlue;
	font-family:verdana;
	margin:0px;
	text-align: center;
    }
  .headerlogo{
    overflow: hidden;
	font-style:italic;
	color:RoyalBlue;
    background-color: SkyBlue;
	height:50px;
	width:100%;
  }
  .headerlogo a {
    float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 5px 7px;
	transform: translate(-80%,75%);
	font-size: 19px;
  }
   .headerlogo a:hover {
    background-color:#dfeef7 ;
    color:black;
   }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
	
 }

 .topnav {
    overflow: hidden;
    background-color: SkyBlue;
	margin:0;
	height:70px;
	width:100%;
	
  }

 .topnav a {
    float: right;
	color:RoyalBlue;
	font-style:italic;
	text-align: center;
	padding: 25px 27px;
	font-size: 19px;
	
	
 }

 .topnav a:hover {
    background-color: ;
    color:black;
	
 }
 .logo{
	position: absolute;
	top: 0.6%;
	left: 210px;
	transform: translate(-15%,-5%);
	right:-240px;
	}
	.logo1{
	position: absolute;
	top: 0.3%;
	max-width:100%;
    height:auto;
	left: 100px;
	transform: translate(-23%,-15%);
	right:-180px;
	padding:40px;
	}
	
	
 .bottom{
    position: absolute;
	text-align: center;
  	top: 180px;
    right:600px;
	font-style:bolder;
  	color:Black;
	border-radius:100px;
  	
	}
 input[type=text]{
    width: 30%;
    padding: 5px 5px;
    margin:  0;
    display: inline-block;
    border: 1px solid #ccc;
	border-radius:100px;
    
    }
  input[type=password]{
    width: 30%;
    padding: 5px 5px;
    margin:  0;
    display: inline-block;
    border: 1px solid #ccc;
	border-radius:100px;
    }
 input[type="submit"]{
	border-width:;
	outline:none;
	height:30px;
	background-color:#d74f57;
	color:#fff;
    font-size:14px;
	border-radius:100px;
	border-radius:20px;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    }
 input[type="submit"]:hover{
	cursor:pointer;
	background:#39dc79;
	color:#000;
    }
 #mid1{ 	
    width: 800px;
	height: 30px;
	font-size:20px;
	color: HotPink;
	}
  .top_center{
	position: absolute;
	text-align: right;
  	top: -100px;
  	right: 1px;
  	color:DeepBlue;
  	transform: translate(-50px,200px);
	}
	.title{
		font-style:italic;
		 text-shadow: 2px 2px white;
	}
	